@import url('https://fonts.googleapis.com/css?family=Lobster');


body.bodyStyle{

  background: rgb(207,185,155);
background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(225, 247, 217) 7%, rgb(156, 185, 144) 100%); background-repeat: no-repeat; height: 100%;

}
div.textoTutorial {
  font-size: small;
  color: #000;
}
div.contenedorVoltorb{
  display: grid;
  grid-template: auto auto auto auto auto auto/auto auto auto auto auto auto;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  width: 100%;
}
div.celdaVoltorb{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  cursor: pointer;






}
.animacioMoviment{
  animation-name: movimentNumero;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}

@keyframes movimentNumero{

  from {
    text-indent: 100%;

  }
  to {
    text-indent: 0%;
  }

}
div.textoWeb{
  font-family: 'Lobster', cursive;
  font-size: 40px;

}
#pistaRobot{
  cursor: pointer;
}
#ayudaJuego{
  cursor: pointer;
}
